In [2]:
import pandas as pd
import json

In [3]:
with open("shanghaiExportContainerFreightIndex.json", "r") as f:
    data = json.load(f)

In [10]:
dataheaders = data['data']['c:947']['c']
datapoints = data['data']['c:947']['s']

In [19]:
dataheaders[0]['name']

'China Containerized Freight Index'

In [24]:
data_dict = {}

for idx in range(len(dataheaders)):
    name = dataheaders[idx]['name']
    data_dict[name] = {}
    for row in datapoints[idx]:
        data_dict[name][row[0]] = row[1]

In [30]:
df = pd.DataFrame.from_dict(data_dict)
df = df.sort_index()
df

,China Containerized Freight Index,China Shanghai Containerized Freight Index
2002-01-11,921.3500,NaN
2002-01-18,901.6500,NaN
2002-01-25,925.8800,NaN
2002-02-01,927.5400,NaN
2002-02-08,930.6300,NaN
...,...,...
2023-02-03,1110.0000,1006.8900
2023-02-10,1133.1000,995.1600
2023-02-17,1094.0500,974.6600
2023-02-24,1077.7500,946.6800
2023-03-03,1057.6800,931.0800

In [33]:
df.to_csv("extracted/ChinaFreightIndex.csv")